@model Sold

<h3>Add Transactions</h3>
<form asp-action="Add">
    <div class="form-group">
        <label asp-for="SaleID">Sale:</label>
        <select asp-for="SaleID" class="form-control"
                asp-items="@(new SelectList(ViewBag.Sales, "SaleID","SaleID"))">
            <option value=""></option>
        </select>
        <span asp-validation-for="SaleID" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="ProductID">Product:</label>
        <select asp-for="ProductID" class="form-control"
                asp-items="@(new SelectList(ViewBag.Products, "ProductID","ProductID"))">
            <option value=""></option>
        </select>
        <span asp-validation-for="ProductID" class="text-danger"></span>
    </div>
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="form-group">
        <label asp-for="Item">Item:</label>
        <input type="text" asp-for="Item" class="form-control" />
        <span asp-validation-for="Item" class="text-danger"></span>
    </div>


    <div class="form-group">
        <input type="submit" value="Add" class="btn btn-info" />
        <a asp-action="Index" class="btn btn-warning">Cancel</a>
    </div>
</form>

